
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    background: #f4f6f8;
    padding-top: 80px; 
}

body > div:first-of-type {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #203a43;
    color: white;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

.theme-btn {
    position: fixed;
    top: 15px;
    left: 20px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 18px;
    background-color: #ffffff;
    z-index: 110;
}

.container {
    flex: 1;
    min-width: 380px;
    max-width: 600px;
    min-height: 120px;
    max-height: 580px;
    overflow-y: auto;
    background: white;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    align-items: center;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.container > p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 23px;
    color: #203a43;
    text-align: center;
}

.requests-box{
    flex: 1;             
    display: flex; 
    justify-content: center;
    align-items: center; 
    text-align: center;
    margin-top: 20px;
    border-radius: 12px;
    padding: 10px;
    overflow-y: auto;
    min-height: 200px;
    max-height: 800px;
    background-color: #fafafa;
    font-size: 15px;
}

.actions > p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 23px;
    color: #203a43;
    text-align: center;
}

.actions {
    flex: 1;
    min-width: 100px;
    max-width: 510px;
    min-height: 100px;
    max-height: 300px;
    background: white;
    border-radius: 16px;
    padding: 20px;
    margin-left: 10px;
}

.buttons {
    display: flex;
    gap: 15px;
}

button {
    width: 100px;
    height: 35px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    transition: transform 0.2s, box-shadow 0.2s;
    margin: 5px;
    color: white;
}

button:hover {
    transform: translateY(-2px);
    opacity: 0.6;
}

.add_btn {
    background-color: #2ecc71;
    color: white;
}

.del_btn {
    width: 50px;
    padding: 4px 0;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    background-color: red;
}


body.dark {
    background: #121212;
}

body.dark > div:first-of-type {
    background: #0f2027;
}

body.dark .container {
    background: #1e1e1e;
    color: #f5f5f5;
}

body.dark .container > p {
    color: #ffffff;
}

body.dark .requests-box {
    border-color: #555;
    color: #000000;
}

body.dark .theme-btn {
    background: #333;
    color: #ffffff;
}

body.dark p{
    color: white;
}

body.dark .actions {
    background: #333;
}

@media (max-width: 900px) {
    .container {
        width: 90%;
    }
}

